@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(39, 39, 39);
    color: #ffffff;
}

img{
    max-width: 100%;
}

.table{
    color: #ffffff !important;
    img{
        max-height: 100px;
    }
    .btn{
        color: black;
        
    }
}